@mixin relative-center  {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@mixin rounded-corners  {
    border-radius: .0625rem;
}

.feature-grid {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    .feature {
        @include rounded-corners;
        position: relative;
        padding-top: (2 / 3) * 100%;
        width: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
        list-style: none;

        &.selected {
            .feature--selected {
                transform: translate(-50%, -50%) scale(1);
                -webkit-transform: translate(-50%, -50%) scale(1);
            }
        }
    }
    .feature--overlay   {
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        transition: all 200ms ease;
        -webkit-transition: all 200ms ease;
    }
    .feature.selected .feature--overlay   {
        opacity: 1;
        background-color: rgba($teal, .5);
    }
    .feature--name {
        position: absolute;
        color: white;
        font-weight: bold;
        bottom: 0;
        padding: 1rem;
    }

    .feature--selected {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        color: white;
        font-size: 5em;
        text-align: center;
        transition: all 100ms ease;
        -webkit-transition: all 100ms ease;
    }
}

.angular-google-map-container { height: 400px; }

.result--link {
    width: 100%;
    height: 100%;
}
.result--image  {
    width: 100%;
    padding-top: 100%;
    background-size: cover !important;
}
